html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}

@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}

.header {
	background: #e2e2e2;
	font-family: 'RobotoBold';
}

.header-conteiner {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
}

.header-logo {
	width: 50%;
	padding-top: 10px;
}

.header-logo img {
	width: 30%;
}

.header-menu {
	width: 50%;
}

.header-menu ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.header-menu ul li {
	padding: 25px 20px;
}

.header-menu ul li a {
	color: #000;
	font-size: 18px;
}

.header-menu ul li:hover {
	background: #f75e5e;
}

.header-menu ul li:hover a {
	color: #fff;
}

.aside {
	display: flex;
	width: 100%;
	position: relative;
	font-family: 'RobotoBold';
}

.aside-right {
	position: relative;
	background: url("../img/aside_img/aside_bg.jpg") no-repeat center;
	background-size: cover;
	width: 50%;
	min-height: 600px;
}

.aside-left {
	width: 50%;
	position: relative;
	padding: 30px;
}

.aside-left__block {
	width: 90%;
	position: absolute;
	background: #3b3b3b;
	color: #fff;
	padding: 50px 0 150px 0;
	z-index: 100;
	right: -50px;
}

.aside-left__block--dabl {
	width: 50%;
	margin: 0 auto;
}

.aside-left__tetle {
	font-size: 50px;
	margin-bottom: 50px;
}

.aside-left__tetle span {
	color: #f75e5e;
}

.aside-left__text {
	line-height: 1.5;
	font-size: 25px;
}

.action {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 100px 0;
}

.action-left {
	width: 45%;
	margin-right: 5%;
}

.action-left img {
	width: 50%;
	float: right;
}

.action-right {
	width: 50%;
	color: #3b3b3b;
	text-align: center;
}

.action-right__headdline {
	font-size: 38px;
	margin-bottom: 30px;
}

.action-right__headdline span {
	color: #f44e4e;
}

.action-right__subtitle {
	font-size: 20px;
	margin-bottom: 20px;
}

.action-right__text p {
	font-size: 20px;
	margin-bottom: 10px;
	-webkit-text-decoration: line-through #ce2020;
	text-decoration: line-through #ce2020;
}

.action-right__text span {
	font-size: 40px;
	color: #ce2020;
}

.description {
	background: #3b3b3b;
	color: #fff;
}

.description-conteiner {
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.description-left {
	width: 50%;
	padding: 100px 0 50px 0;
}

.description-left__headline {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.description-left__block {
	margin-bottom: 30px;
	display: flex;
	font-size: 0;
	align-items: flex-start;
}

.description-left__img {
	display: flex;
	align-self: top;
	margin-right: 20px;
}

.description-left__img img {
	align-self: center;
}

.description-left__textblock {
	display: flex;
	flex-direction: column;
}

.description-left__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 60%;
}

.description-left__text {
	font-size: 20px;
	font-weight: 400;
}

.description-right {
	width: 50%;
	padding: 100px 0 50px 0;
	flex-wrap: wrap;
}

.description-right img {
	width: 100%;
}

.advantages {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	padding: 100px 0;
}

.advantages-right__block {
	padding: 10px 10px 0 0;
}

.advantages-left__block {
	padding: 10px 0 0 10px;
}

.advantages-left,
.advantages-right {
	flex-direction: column;
}

.advantages-left__block,
.advantages-right__block {
	display: flex;
	margin-bottom: 30px;
	display: flex;
	font-size: 0;
	align-items: flex-start;
	width: 100%;
	overflow: hidden;
}

.advantages-left__textblock,
.advantages-right__textblock {
	display: flex;
	flex-direction: column;
}

.advantages-left__title,
.advantages-right__title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 100%;
	color: #f75e5e;
}

.advantages-left__text,
.advantages-right__text {
	font-size: 20px;
	font-weight: 400;
}

.advantages-left__img,
.advantages-right__img {
	display: flex;
	align-self: center;
	margin: 20px;
}

.advantages-left__img img,
.advantages-right__img img {
	align-self: center;
}

.advantages-center {
	position: relative;
}

.advantages-center--one,
.advantages-center--two,
.advantages-center--three,
.advantages-center--fore,
.advantages-center--five,
.advantages-center--six {
	background: rgba(255,255,255,0);
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: 2px solid rgba(238,238,238,0);
	position: absolute;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.advantages-center--one::before,
.advantages-center--two::before,
.advantages-center--three::before,
.advantages-center--fore::before,
.advantages-center--five::before,
.advantages-center--six::before {
	content: '';
	width: 10px;
	height: 10px;
	background: #d24a43;
	border-radius: 10px;
	left: 3px;
	top: 3px;
	position: absolute;
}

.advantages-center--one:hover,
.advantages-center--two:hover,
.advantages-center--three:hover,
.advantages-center--fore:hover,
.advantages-center--five:hover,
.advantages-center--six:hover {
	border: 2px solid #d24a43;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	transition-duration: 1s;
}

.advantages-center--one {
	top: 131px;
	left: 141px;
}

.advantages-center--two {
	top: 392px;
	left: 150px;
}

.advantages-center--three {
	top: 530px;
	left: 180px;
}

.advantages-center--fore {
	top: 41px;
	right: 161px;
}

.advantages-center--five {
	top: 300px;
	right: 175px;
}

.advantages-center--six {
	top: 420px;
	right: 100px;
}

.is-hover {
	background: #eee;
	border-radius: 10px;
	box-shadow: -3px 4px 1px 2px rgba(238,238,238,0.5);
}

.backpack {
	background: #404040;
}

.backpack-conteiner {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 100px 0 50px 0;
	margin: 0 auto;
	align-items: center;
}

.backpack-left__headline {
	color: #f75e5e;
	margin-bottom: 30px;
	font-size: 24px;
}

.backpack-left__list {
	color: #fff;
	border-left: 3px solid #f75e5e;
	padding-left: 10px;
	line-height: 1.5;
}

.backpack-right {
	width: 50%;
}

.backpack-right__item {
	display: block;
	margin: 0 auto;
	width: 90%;
	background: #fff;
	overflow: hidden;
	padding: 100px;
	border-radius: 50%;
}

.backpack-right__item img {
	width: 70%;
	margin: 0 auto;
	display: block;
}

.clock {
	background: #404040;
	padding: 100px 0 50px 0;
}

.clock-conteiner {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.clock-left__headline {
	color: #f75e5e;
	font-size: 36px;
	margin-bottom: 30px;
}

.clock-left__img img {
	display: block;
	margin: 0 auto;
}

.clock-right__headline {
	color: #f75e5e;
	font-size: 36px;
	margin-bottom: 40px;
}

.clock-right__list {
	color: #fff;
	font-size: 20px;
	line-height: 1.5;
}

.reviews {
	width: 100%;
	padding: 100px 0;
}

.reviews-headline {
	color: 404040;
	display: block;
	margin: 0 auto 50px auto;
	text-align: center;
	font-size: 36px;
}

.reviews-slider {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.reviews-slider__block {
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 30%;
	border-radius: 10px;
}

.reviews-slider__title {
	color: #f75e5e;
	font-size: 30px;
	margin-bottom: 20px;
}

.reviews-slider__text {
	color: #404040;
	line-height: 1.2;
}

.order {
	background: #404040;
	padding: 100px 0 50px 0;
}

.order-conteiner {
	width: 90%;
	margin: 0 auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.order-left {
	width: 50%;
}

.order-left__headline {
	color: #fff;
	border-left: 3px solid #fff;
	padding-left: 10px;
	font-size: 30px;
	width: 65%;
	text-align: center;
}

.order-left__headline span {
	color: #f44e4e;
}

.order-right {
	width: 50%;
}

.order-right__timer {
	width: 80%;
	overflow: hidden;
	border-radius: 20px;
}

.order-right__header {
	background: #000;
}

.order-right__headline {
	color: #fff;
	text-align: center;
	padding: 10px 20px;
	font-size: 22px;
	line-height: 1.5;
}

.order-right__headline span {
	color: #f44e4e;
}

.order-right__content {
	background: #fff;
	padding: 20px 20px 50px 20px;
	position: relative;
}

.order-right__content::before {
	content: '';
	position: absolute;
	background: url("../img/order_img/bg_timer.png") center bottom;
	background-size: cover;
	bottom: 0;
	width: 100%;
	height: 285px;
	left: 0;
	z-index: 1;
}

.order-right__time {
	color: #f44e4e;
	background: #000;
	width: 35%;
	font-size: 40px;
	text-align: center;
	border: 3px solid #a8a7a6;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 50px auto 35px auto;
}

.order-right__text {
	position: relative;
}

.order-right__text p {
	font-size: 25px;
	-webkit-text-decoration: line-through #ce2020;
	text-decoration: line-through #ce2020;
	text-align: center;
	z-index: 10;
}

.order-right__text span {
	font-size: 40px;
	color: #ce2020;
	display: block;
	margin: 35px auto 50px auto;
	text-align: center;
	z-index: 10;
}

.order-right__btn {
	color: #fff;
	background: #ce2020;
	padding: 10px 20px;
	border: 2px solid #ce2020;
	font-size: 20px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

.order-right__btn:hover {
	background: rgba(255,255,255,0.7);
	color: #ce2020;
}

.deliver {
	width: 90%;
	margin: 0 auto;
	padding: 100px 0 50px 0;
}

.deliver-headline {
	text-align: center;
	color: #404040;
	font-size: 30px;
	font-weight: bold;
}

.deliver-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.deliver-icons {
	width: 30%;
}

.deliver-img img {
	display: block;
	margin: 0 auto;
}

.deliver-text {
	text-align: center;
	color: #404040;
	width: 70%;
	font-size: 16px;
	margin: 20px auto 0 auto;
	line-height: 1.5;
	font-weight: bold;
}

.deliver-text a {
	color: #404040;
}

.footer {
	background: #131313;
	padding: 50px 0;
	color: #fff;
}

.footer-conteiner {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.footer-img {
	background: #d5d5d5;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
}

.footer-text {
	width: 40%;
	text-align: center;
}


.action {
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 100px 0;
}

.action-left {
	width: 45%;
	margin-right: 5%;
}

.action-left img {
	width: 50%;
	float: right;
}

.action-right {
	width: 50%;
	color: #3b3b3b;
	text-align: center;
}

.action-right__headdline {
	font-size: 38px;
	margin-bottom: 30px;
}

.action-right__headdline span {
	color: #f44e4e;
}

.action-right__subtitle {
	font-size: 20px;
	margin-bottom: 20px;
}

.action-right__text p {
	font-size: 20px;
	margin-bottom: 10px;
	-webkit-text-decoration: line-through #ce2020;
	text-decoration: line-through #ce2020;
}

.action-right__text span {
	font-size: 40px;
	color: #ce2020;
}


.advantages {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	padding: 100px 0;
}

.advantages-right__block {
	padding: 10px 10px 0 0;
}

.advantages-left__block {
	padding: 10px 0 0 10px;
}

.advantages-left,
.advantages-right {
	flex-direction: column;
}

.advantages-left__block,
.advantages-right__block {
	display: flex;
	margin-bottom: 30px;
	display: flex;
	font-size: 0;
	align-items: flex-start;
	width: 100%;
	overflow: hidden;
}

.advantages-left__textblock,
.advantages-right__textblock {
	display: flex;
	flex-direction: column;
}

.advantages-left__title,
.advantages-right__title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 100%;
	color: #f75e5e;
}

.advantages-left__text,
.advantages-right__text {
	font-size: 20px;
	font-weight: 400;
}

.advantages-left__img,
.advantages-right__img {
	display: flex;
	align-self: center;
	margin: 20px;
}

.advantages-left__img img,
.advantages-right__img img {
	align-self: center;
}

.advantages-center {
	position: relative;
}

.advantages-center--one,
.advantages-center--two,
.advantages-center--three,
.advantages-center--fore,
.advantages-center--five,
.advantages-center--six {
	background: rgba(255,255,255,0);
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: 2px solid rgba(238,238,238,0);
	position: absolute;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.advantages-center--one::before,
.advantages-center--two::before,
.advantages-center--three::before,
.advantages-center--fore::before,
.advantages-center--five::before,
.advantages-center--six::before {
	content: '';
	width: 10px;
	height: 10px;
	background: #d24a43;
	border-radius: 10px;
	left: 3px;
	top: 3px;
	position: absolute;
}

.advantages-center--one:hover,
.advantages-center--two:hover,
.advantages-center--three:hover,
.advantages-center--fore:hover,
.advantages-center--five:hover,
.advantages-center--six:hover {
	border: 2px solid #d24a43;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	transition-duration: 1s;
}

.advantages-center--one {
	top: 131px;
	left: 141px;
}

.advantages-center--two {
	top: 392px;
	left: 150px;
}

.advantages-center--three {
	top: 530px;
	left: 180px;
}

.advantages-center--fore {
	top: 41px;
	right: 161px;
}

.advantages-center--five {
	top: 300px;
	right: 175px;
}

.advantages-center--six {
	top: 420px;
	right: 100px;
}

.is-hover {
	background: #eee;
	border-radius: 10px;
	box-shadow: -3px 4px 1px 2px rgba(238,238,238,0.5);
}


.aside {
	display: flex;
	width: 100%;
	position: relative;
	font-family: 'RobotoBold';
}

.aside-right {
	position: relative;
	background: url("../img/aside_img/aside_bg.jpg") no-repeat center;
	background-size: cover;
	width: 50%;
	min-height: 600px;
}

.aside-left {
	width: 50%;
	position: relative;
	padding: 30px;
}

.aside-left__block {
	width: 90%;
	position: absolute;
	background: #3b3b3b;
	color: #fff;
	padding: 50px 0 150px 0;
	z-index: 100;
	right: -50px;
}

.aside-left__block--dabl {
	width: 50%;
	margin: 0 auto;
}

.aside-left__tetle {
	font-size: 50px;
	margin-bottom: 50px;
}

.aside-left__tetle span {
	color: #f75e5e;
}

.aside-left__text {
	line-height: 1.5;
	font-size: 25px;
}


.backpack {
	background: #404040;
}

.backpack-conteiner {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 100px 0 50px 0;
	margin: 0 auto;
	align-items: center;
}

.backpack-left__headline {
	color: #f75e5e;
	margin-bottom: 30px;
	font-size: 24px;
}

.backpack-left__list {
	color: #fff;
	border-left: 3px solid #f75e5e;
	padding-left: 10px;
	line-height: 1.5;
}

.backpack-right {
	width: 50%;
}

.backpack-right__item {
	display: block;
	margin: 0 auto;
	width: 90%;
	background: #fff;
	overflow: hidden;
	padding: 100px;
	border-radius: 50%;
}

.backpack-right__item img {
	width: 70%;
	margin: 0 auto;
	display: block;
}


.clock {
	background: #404040;
	padding: 100px 0 50px 0;
}

.clock-conteiner {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.clock-left__headline {
	color: #f75e5e;
	font-size: 36px;
	margin-bottom: 30px;
}

.clock-left__img img {
	display: block;
	margin: 0 auto;
}

.clock-right__headline {
	color: #f75e5e;
	font-size: 36px;
	margin-bottom: 40px;
}

.clock-right__list {
	color: #fff;
	font-size: 20px;
	line-height: 1.5;
}


.deliver {
	width: 90%;
	margin: 0 auto;
	padding: 100px 0 50px 0;
}

.deliver-headline {
	text-align: center;
	color: #404040;
	font-size: 30px;
	font-weight: bold;
}

.deliver-block {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.deliver-icons {
	width: 30%;
}

.deliver-img img {
	display: block;
	margin: 0 auto;
}

.deliver-text {
	text-align: center;
	color: #404040;
	width: 70%;
	font-size: 16px;
	margin: 20px auto 0 auto;
	line-height: 1.5;
	font-weight: bold;
}

.deliver-text a {
	color: #404040;
}


.description {
	background: #3b3b3b;
	color: #fff;
}

.description-conteiner {
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.description-left {
	width: 50%;
	padding: 100px 0 50px 0;
}

.description-left__headline {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.description-left__block {
	margin-bottom: 30px;
	display: flex;
	font-size: 0;
	align-items: flex-start;
}

.description-left__img {
	display: flex;
	align-self: top;
	margin-right: 20px;
}

.description-left__img img {
	align-self: center;
}

.description-left__textblock {
	display: flex;
	flex-direction: column;
}

.description-left__title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	width: 60%;
}

.description-left__text {
	font-size: 20px;
	font-weight: 400;
}

.description-right {
	width: 50%;
	padding: 100px 0 50px 0;
	flex-wrap: wrap;
}

.description-right img {
	width: 100%;
}


.footer {
	background: #131313;
	padding: 50px 0;
	color: #fff;
}

.footer-conteiner {
	width: 90%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.footer-img {
	background: #d5d5d5;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 20px;
}

.footer-text {
	width: 40%;
	text-align: center;
}


.header {
	background: #e2e2e2;
	font-family: 'RobotoBold';
}

.header-conteiner {
	display: flex;
	width: 90%;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
}

.header-logo {
	width: 50%;
	padding-top: 10px;
}

.header-logo img {
	width: 30%;
}

.header-menu {
	width: 50%;
}

.header-menu ul {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}

.header-menu ul li {
	padding: 25px 20px;
}

.header-menu ul li a {
	color: #000;
	font-size: 18px;
}

.header-menu ul li:hover {
	background: #f75e5e;
}

.header-menu ul li:hover a {
	color: #fff;
}



.order {
	background: #404040;
	padding: 100px 0 50px 0;
}

.order-conteiner {
	width: 90%;
	margin: 0 auto;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.order-left {
	width: 50%;
}

.order-left__headline {
	color: #fff;
	border-left: 3px solid #fff;
	padding-left: 10px;
	font-size: 30px;
	width: 65%;
	text-align: center;
}

.order-left__headline span {
	color: #f44e4e;
}

.order-right {
	width: 50%;
}

.order-right__timer {
	width: 80%;
	overflow: hidden;
	border-radius: 20px;
}

.order-right__header {
	background: #000;
}

.order-right__headline {
	color: #fff;
	text-align: center;
	padding: 10px 20px;
	font-size: 22px;
	line-height: 1.5;
}

.order-right__headline span {
	color: #f44e4e;
}

.order-right__content {
	background: #fff;
	padding: 20px 20px 50px 20px;
	position: relative;
}

.order-right__content::before {
	content: '';
	position: absolute;
	background: url("../img/order_img/bg_timer.png") center bottom;
	background-size: cover;
	bottom: 0;
	width: 100%;
	height: 285px;
	left: 0;
	z-index: 1;
}

.order-right__time {
	color: #f44e4e;
	background: #000;
	width: 35%;
	font-size: 40px;
	text-align: center;
	border: 3px solid #a8a7a6;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 50px auto 35px auto;
}

.order-right__text {
	position: relative;
}

.order-right__text p {
	font-size: 25px;
	-webkit-text-decoration: line-through #ce2020;
	text-decoration: line-through #ce2020;
	text-align: center;
	z-index: 10;
}

.order-right__text span {
	font-size: 40px;
	color: #ce2020;
	display: block;
	margin: 35px auto 50px auto;
	text-align: center;
	z-index: 10;
}

.order-right__btn {
	color: #fff;
	background: #ce2020;
	padding: 10px 20px;
	border: 2px solid #ce2020;
	font-size: 20px;
	width: 40%;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

.order-right__btn:hover {
	background: rgba(255,255,255,0.7);
	color: #ce2020;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}


.reviews {
	width: 100%;
	padding: 100px 0;
}

.reviews-headline {
	color: 404040;
	display: block;
	margin: 0 auto 50px auto;
	text-align: center;
	font-size: 36px;
}

.reviews-slider {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.reviews-slider__block {
	padding: 10px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 30%;
	border-radius: 10px;
}

.reviews-slider__title {
	color: #f75e5e;
	font-size: 30px;
	margin-bottom: 20px;
}

.reviews-slider__text {
	color: #404040;
	line-height: 1.2;
}


.video {
	background: url("../img/video-img/bg-video.jpg") center no-repeat;
	background-size: cover;
	padding: 100px 0 50px 0;
}

.video-headline {
	text-align: center;
	color: #404040;
	font-size: 30px;
	margin-bottom: 30px;
}

.video-headline span {
	color: #f75e5e;
}

.video-block {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.video-block iframe {
	margin: 0 auto;
	width: 50%;
	display: block;
}


@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}

/*======================================================================
======================================================================*/

