<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meat(name="viewport" content="width=device-width, initial-scale=1.0")
	title Document
	link(rel="stylesheet", href="css/main.css")
body
	include mixins/_mixins
	include base/_header
	include base/_aside
	include base/_action
	include base/_description
	include base/_advantages
	include base/_backpack
	include base/_video
	include base/_clock
	include base/_reviews
	include base/_order
	include base/_delivery
	include base/_footer





		script(src="js/main.js")
