
@font-face {
  font-family: 'FranklinHeavy';
  src: url('FranklinHeavy.eot?#iefix') format('embedded-opentype'),  url('FranklinHeavy.woff') format('woff'), url('FranklinHeavy.ttf')  format('truetype'), url('FranklinHeavy.svg#FranklinHeavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
