.action#action-back
	.action-left
		img(src="./img/action_img/bacet-action.jpg", alt="")
	.action-right
		.action-right__headdline Водонепроницаемый рюкзак <br><span>SWISSGEAR</span> с защитным<br> отделением для ноутбука<br> <span>СО СКИДКОЙ 50%</span>
		.action-right__subtitle Купи рюкзак и получи часы<br> Swiss Army 
			span в подарок!
		.action-right__text
			p 3 980 р.
			span 1990 р.