.advantages
	.advantages-left
			.advantages-left__block.advantages-left--one
				.advantages-left__textblock
					.advantages-left__title У ВАС НИКОГДА НЕ БУДУТ ОТЕКАТЬ ПЛЕЧИ
					.advantages-left__text Плечевые ремни эргономической формы с массажными подушками, что позволяет распределять нагрузку по всей спине равномерно.
				.advantages-left__img
					img(src="../img/advantages_img/img1.png", alt="")
			.advantages-left__block.advantages-left--two
				.advantages-left__textblock
					.advantages-left__title ВАШИ: ТЕЛЕФОН И ОЧКИ ВСЕГДА БУДУТ ПОД РУКОЙ
					.advantages-left__text На плечевых ремнях рюкзака, в удобном для доступа месте, расположены: карман для телефона и фиксатор для очков.
				.advantages-left__img
					img(src="../img/advantages_img/img2.png", alt="")
			.advantages-left__block.advantages-left--three
				.advantages-left__textblock
					.advantages-left__title У ВАС НЕ БУДЕТ ПОТЕТЬ СПИНА В ДОРОГЕ
					.advantages-left__text Спинка рюкзака, также оснащена системой Airflow. Что обеспечивает отличную циркуляцию воздуха, для поддержки комфорта спины.
				.advantages-left__img
					img(src="../img/advantages_img/img3.png", alt="")
	.advantages-center
		img(src="../img/advantages_img/bg-center.jpg", alt="")
		.advantages-center--one
		.advantages-center--two
		.advantages-center--three
		.advantages-center--fore
		.advantages-center--five
		.advantages-center--six
	.advantages-right
		.advantages-right__block.advantages-right--four
			.advantages-right__img
				img(src="../img/advantages_img/img4.png", alt="")
			.advantages-right__textblock
				.advantages-right__title РУЧКА РЮКЗАКА УСИЛЕННАЯ СТАЛЬНЫМ ТРОСОМ
				.advantages-right__text Это повышает ее прочность в несколько раз.несколько раз.
		.advantages-right__block.advantages-right--five
			.advantages-right__img
				img(src="../img/advantages_img/img5.png", alt="")
			.advantages-right__textblock
				.advantages-right__title ВАМ НЕ БУДЕТ МЕШАТЬ ПРОВОД ОТ НАУШНИКОВ
				.advantages-right__text Система аудиопорт позволяет разместить аудиоустройсво внутри рюкзака, а наушники включить в разъем на плечевом ремне.
		.advantages-right__block.advantages-right--six
			.advantages-right__img
				img(src="../img/advantages_img/img6.png", alt="")
			.advantages-right__textblock
				.advantages-right__title ВАМ НЕ ГРОЗИТ ИСКРИВЛЕНИЕ СПИНЫ
				.advantages-right__text Спинка рюкзака ортопедическая, а это позволяет всегда держать спину в правильном положении, что не дает вашему позвоночнику искривляться.
