.backpack
	.backpack-conteiner
		.backpack-left
			.backpack-left__headline ХАРАКТЕРИСТИКА РЮКЗАКА SWISSGEAR 8810
			ul.backpack-left__list
				li Номер модели 8810;
				li Размеры: 45 х 33 х 23;
				li Объём: 29 л;
				li Подходит для всех ноутбуков с размером диагонали до 17";
				li Ортопедическая спинка 3D с массажером для циркуляции воздуха ― комфорт и здоровье;
				li Специальный внутренний карман для МР-3 плеера;
				li Клапан для провода наушников на внешней части рюкзака;
				li 2 боковых кармана на молнии с быстрым доступом;
				li 2 боковых кармана-сеточки;
				li 2 передних кармана;
				li Внешний нижний отсек для хранения аксессуаров ― телефонов, ключей, ручек, записных книжек;
				li Усиленная ручка для переноски;
				li Отдел для ноутбука имеет специальную защиту ― уплотненную мягкую стенку;
				li 2 больших отделения;
				li Основное отделение вмещает много вещей;
				li Отделение на шлейке для телефона и очков;
				li Водоотталкивающий материал;
				li Прочный материал на дне;
				li Сделано из материала высокого качества ― прочный нейлон;
				li Вес: 1,1 кг.
		.backpack-right
			.backpack-right__slide
				.backpack-right__item
					img(src="../img/backpack-img/img-slide.png", alt="")