.clock
	.clock-conteiner
		.clock-left
			.clock-left__headline АКЦИЯ! ЧАСЫ В ПОДАРОК!
			.clock-left__img
				img(src="./img/clock_img/clock_img.png", alt="")
		.clock-right
			.clock-right__headline ХАРАКТЕРИСТИК0А ЧАСОВ
			ul.clock-right__list
				li Механизм: Quartz (Швейцария);
				li Cтекло: минеральное ударопрочное (двойное);
				li Материал корпуса: стальной контейнер;
				li Водозащита: WR 30;
				li Ремешок: тканевый (нейлон);
				li Длина ремешка: 24 см.