.deliver
	.deliver-headline КАК ЗАКАЗАТЬ РЮКЗАК?
	.deliver-block
		.deliver-icons
			.deliver-img
				img(src="./img/deliver_img/icons1.png", alt="")
			.deliver-text ВЫ ОФОРМЛЯЕТЕ ЗАКАЗ
		.deliver-icons
			.deliver-img
				img(src="./img/deliver_img/icons2.png", alt="")
			.deliver-text МЕНЕДЖЕР СВЯЗЫВАЕТСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ ЗАКАЗА
		.deliver-icons
			.deliver-img
				img(src="./img/deliver_img/icons3.png", alt="")
			.deliver-text МЫ ДОСТАВЛЯЕМ ЗАКАЗ НА ПОЧТОВОЕ ОТДЕЛЕНИЕ<br>
				a(href="#") читать подробнее &gt;&gt;