.deliver
	.deliver-headline
	.deliver-block
		.deliver-icons
			.deliver-img
				img(src="", alt="")
			.deliver-text ВЫ ОФОРМЛЯЕТЕ ЗАКАЗ
		.deliver-icons
			.deliver-img
				img(src="", alt="")
			.deliver-text МЕНЕДЖЕР СВЯЗЫВАЕТСЯ С ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ ЗАКАЗА
		.deliver-icons
			.deliver-img
				img(src="", alt="")
			.deliver-text МЫ ДОСТАВЛЯЕМ ЗАКАЗ НА ПОЧТОВОЕ ОТДЕЛЕНИЕ
				a(href="#") читать подробнее &gt;&gt;