.description#description-back
	.description-conteiner
		.description-left
			.description-left__headline ШВЕЙЦАРСКОЕ КАЧЕСТВО В ДЕТАЛЯХ
			.description-left__block
				.description-left__img 
					img(src="../img/description_img/icon-desc1.png", alt="")
				.description-left__textblock
					.description-left__title ВАШ НОУТБУК БУДЕТ НАДЕЖНО ЗАЩИЩЕН
					.description-left__text Рюкзак имеет, специальное отделение для ноутбука, защищенное амортизирующей подушкой, что позволяет защитить ноутбук от повреждений при ударах и даже при падениях.
			.description-left__block
				.description-left__img
					img(src="../img/description_img/icon-desc2.png", alt="")
				.description-left__textblock
					.description-left__title ВАШИ ВЕЩИ БУДУТ ЗАЩИЩЕНЫ ОТ НАМОКАНИЯ
					.description-left__text Рюкзак пошит из высокопрочного водоотталкивающего материала и водонепроницаемыми застежками меньших карманов и карманчиков.
			.description-left__block
				.description-left__img
					img(src="../img/description_img/icon-desc3.png", alt="")
				.description-left__textblock
					.description-left__title КАЖДАЯ ВАША ВЕЩЬ БУДЕТ ИМЕТЬ СВОЕ МЕСТО
					.description-left__text В рюкзаке есть карман органайзер, для ключей для канцелярских принадлежностей и других мелких вещей.
			.description-left__block
				.description-left__img
					img(src="../img/description_img/icon-desc4.png", alt="")
				.description-left__textblock
					.description-left__title ВМЕСТИМОСТЬ РЮКЗАКА МОЖНО РЕГУЛИРОВАТЬ
					.description-left__text Рюкзак имеет стяжные ремни для регулировки объема. Максимальный объем вещей, которые можно поместить примерно 40 литров. Для этого есть 2 больших отделения и больше 10 меньших карманов и карманчиков.
			.description-left__block
				.description-left__img
					img(src="../img/description_img/icon-desc5.png", alt="")
				.description-left__textblock
					.description-left__title ГАРАНТИЯ
					.description-left__text Весь товар проверяется дважды: на заводе и перед отправкой к вам. Вы сможете убедиться в прочности и надежности рюкзака.
		.description-right
			.description-right__img
				img(src="../img/description_img/bg-right.png", alt="")