.footer
	.footer-conteiner
		.footer-img
			img(src="../img/header_img/logo.png", alt="")
		.footer-text ООО «МОНСТР-МЕДИА» ИНН 7701071884 ОГРН 1157746018870 г. Москва, пр-т. Ленинградский, д.80, корп. 1 Политика конфиденциальности 