.header
	.header-conteiner
		.header-logo
			img(src="/img/header_img/logo.png", alt="")
		.header-menu
			.header-menu--burger MENU
			ul.header-menu--list
				li
					a(href="#menu-back") меню
				li
					a(href="#action-back") выгода
				li
					a(href="#description-back") качество
				li
					a(href="#oder-back") купить