.header
	.header-conteiner
		.header-logo
			img(src="/img/header_img/logo.png", alt="")
		.header-menu
			ul
				li
					a(href="") меню
				li
					a(href="") выгода
				li
					a(href="") качество
				li
					a(href="") купить