.order
	.order-conteiner
		.order-left
			.order-left__headline Купи рюкзак и получи часы Swiss Army <span>в подарок!</span>
			.order-left__img
				img(src="../img/order_img/back_img.png", alt="")
		.order-right
			.order-right__timer
				.order-right__header
					.order-right__headline Водонепроницаемый рюкзак <span>SWISSGEAR</span> с защитным отделением для ноутбука <span>СО СКИДКОЙ 50%</span>
				.order-right__content
					.order-right__time 12:30:47
					.order-right__text
						p 3 980 р.
						span 1990 р.
					.order-right__btn Купить рюкзак