.reviews
	.reviews-headline ОТЗЫВЫ
	.reviews-slider
		.reviews-slider__block
			.reviews-slider__title Дмитрий 
			.reviews-slider__text По работе приходится носить много вещей с собой. Купил такой рюкзак. Пользуюсь уже год – он как новый. Вместительный. А главное, ручки такие плотные и широкие – удобно. Спина не устает, что для меня очень важно.
		.reviews-slider__block
			.reviews-slider__title Максим
			.reviews-slider__text Повезло купить рюкзак SWISSGEAR по акции, там еще и часы к нему шли! Взял себе и брату в подарок. Брат оценил. Говорит, хороший и качественный рюкзак – стоит своих денег. Не сомневайтесь, уже проверено, смело берите SWISSGEAR!
		.reviews-slider__block
			.reviews-slider__title Марина
			.reviews-slider__text Заказывала рюкзак для бойфренда, он давно хотел вместительный и надежный, в общем, именно о таком мечтал. Рюкзак пришел быстро, все проверила, отличное качество. Часики брату подарила, он у меня любитель таких стильных вещиц.