.video
	.video-headline Подробный обзор рюкзака <span>SWISSGEAR 8810</span> 
	.video-block
		<iframe height="315" src="https://www.youtube.com/embed/1EUP_53AuIs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>