.overley
.modal
	.modal-wrap
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias praesentium omnis repudiandae suscipit aspernatur fugit corporis doloribus ipsa, laboriosam sit nobis, ab consequuntur quam, est repellendus quisquam magni? Eveniet, illum.
	.close &times;