.overley
.modal
	.modal-wrap
		form(action="/order.php" method="post" id="order_form" onsubmit="return cartTelCheck('phone', true, this, event);")
			fieldset
				.row
					p Страна
				span.country
				.row
					p Ваше ФИО
					input(type="text" name="client")
				.row
					p Ваш телефон
					input(type="text" name="tel" id="phone" placeholder="Номер телефона в межд. формате")
				.row
					input(type="submit" value="Заказать")
	.close &times;