.overley
.modal
	.modal-wrap
		iframe(src="http://m4.swissbag-1990.discountsalepro.com/?utm_source=mleads&utm_medium=44339&utm_campaign=0smkcwv&nc=true&mleads=1vEsreLjEVirYejsgoRn2O7L2V6NM67v&code=0smkcwv//&frdmn=a6d4ff36", frameborder="0")
	.close &times;