.action
	width 90%
	display flex
	justify-content space-around
	margin: 0 auto
	padding: 100px 0
	&-left
		width 45%
		margin-right 5%
		img
			width 50%
			float right
	&-right
		width 50%
		color #3b3b3b
		text-align center
		&__headdline
			font-size 38px
			margin-bottom 30px
			span
				color #f44e4e
		&__subtitle
			font-size 20px
			margin-bottom 20px
		&__text
			p
				font-size 20px
				margin-bottom 10px
				text-decoration: line-through #ce2020
			span
				font-size 40px
				color #ce2020