.advantages
	width: 90%
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	margin: 0 auto
	align-items center
	padding 100px 0
	flex-wrap wrap
	&-right
		width 33%	
		&__block
			padding 10px 10px 0 0
	&-left
		width 33%	
		&__block
			padding 10px 0 0 10px
	&-left, &-right
		flex-direction column
		&__block
			display flex
			margin-bottom 30px
			font-size: 0
			align-items flex-start
			width 100%
			overflow: hidden
		&__textblock
			display flex
			flex-direction column
		&__title
			font-size 20px
			font-weight: bold
			margin-bottom 10px
			width 100%
			color #f75e5e
		&__text
			font-size 20px
			font-weight 400
		&__img
			display flex
			align-self: center
			margin 20px
			img
				align-self: center;
	&-center
		position relative
		width 33%
		&--one, &--two, &--three, &--fore, &--five, &--six
			background rgba(255, 255, 255, 0);
			width 20px
			height 20px
			border-radius 10px
			cursor pointer
			border 2px solid rgba(238, 238, 238, 0);
			position absolute
			transform scale(1.1)
			&::before
				content ''
				width 10px
				height 10px
				background #d24a43
				border-radius 10px
				left: 3px
				top 3px
				position absolute
		&--one:hover, &--two:hover, &--three:hover, &--fore:hover, &--five:hover, &--six:hover
			border 2px solid #d24a43
			transform scale(1.3)
			transition-duration 1s
		&--one
			top 131px 
			left: 141px
		&--two
			top 392px
			left: 150px
		&--three
			top 530px
			left 180px
		&--fore
			top 41px
			right 161px
		&--five
			top 300px
			right 175px
		&--six
			top 420px
			right 100px
.is-hover
	background: #eee
	border-radius 10px
	box-shadow -3px 4px 1px 2px rgba(238, 238, 238, 0.5);
@media (max-width: 1400px)
	.advantages
		width 98%
		padding 50px 0
		&-left, &-right
			width 33%
	.advantages-left__block
		padding-bottom 10px
@media (max-width: 1300px)
		.advantages
			position relative
		.advantages-left__block, .advantages-right__block
			display none
@media (max-width: 500px)
		.advantages-center
			width 100%	
			img
				width 100%
			&--one
				top 91px 
				left: 75px
			&--two
				top 192px
				left: 80px
			&--three
				top 310px
				left 80px
			&--fore
				top 19px
				right 91px
			&--five
				top 140px
				right 75px
			&--six
				top 270px
				right 50px
@media (max-width: 375px)
		.advantages-center
			width 100%	
			img
				width 100%
			&--one
				top 91px 
				left: 75px
			&--two
				top 192px
				left: 80px
			&--three
				top 250px
				left 80px
			&--fore
				top 11px
				right 91px
			&--five
				top 140px
				right 75px
			&--six
				top 270px
				right 50px
@media (max-width: 325px)
		.advantages-center
			width 100%	
			img
				width 100%
			&--one
				top 61px 
				left: 55px
			&--two
				top 152px
				left: 50px
			&--three
				top 240px
				left 60px
			&--fore
				top 11px
				right 61px
			&--five
				top 150px
				right 75px
			&--six
				top 200px
				right 50px