.aside
	display flex
	width 100%
	position relative
	&-right
		position relative
		background url(../img/aside_img/aside_bg.jpg) no-repeat center
		background-size cover
		width 50%
		min-height 600px
	&-left
		width 50%
		position relative
		padding 30px
		&__block
			width 85%
			position absolute
			background #3b3b3b
			color #fff
			padding 50px 0 100px 0
			z-index 100
			right -50px
			&--dabl
				width 70%
				margin 0 auto
		&__tetle
			font-size 50px
			margin-bottom 50px
			span
				color #f75e5e
		&__text
			line-height 1.5
			font-size 25px
@media (max-width: 1300px)
	.aside-left__block
		padding 50px 0
		&--dabl
			width 90%
@media (max-width: 1025px)
	.aside-left__block
		top 100px
@media (max-width: 900px)
	.aside-left__block
		width 100%
@media (max-width: 768px)
	.aside-left
		width 100%
		position absolute
		bottom 0
		&__block
			left: 0
			top 0
			right 0
			bottom 0
			position relative
			background: rgba(59, 59, 59, 0.7);
		&__tetle
			font-weight: bold
			font-size 40px
	.aside-right
		width 100%