.backpack
	background #404040
	width 100%
	&-conteiner
		width 90%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		padding 100px 0 50px 0
		margin 0 auto
		align-items center
		flex-wrap wrap
	&-left
		width 50%
		&__headline
			color #f75e5e
			margin-bottom 30px
			font-size 24px
		&__list
			color #fff
			border-left 3px solid #f75e5e
			padding-left 10px
			line-height 1.5
	&-right
		width 50%
		&__item
			display block
			margin 0 auto
			width 90%
			background #fff
			overflow hidden
			padding 100px
			border-radius 50%
			img
				width 70%
				margin 0 auto
				display block
@media (max-width: 1324px)
	.backpack-right__item
		padding 40px
@media (max-width: 900px)
	.backpack-conteiner
		flex-direction column
	.backpack-left
		width 100%
		margin-bottom 30px
@media (max-width: 800px)
	.backpack-right
		width 60%
@media (max-width: 500px)
	.backpack-right
		width 75%
@media (max-width: 500px)
	.backpack-right
		width 85%