.clock 
	background #404040
	padding: 100px 0 50px 0
	width 100%
	&-conteiner
		width 90%
		margin 0 auto
		display flex
		justify-content space-around
		flex-wrap wrap
	&-left
		&__headline
			color #f75e5e
			font-size 36px
			margin-bottom 30px
		&__img
			img
				display block 
				margin 0 auto
	&-right
		&__headline
			color #f75e5e
			font-size 36px
			margin-bottom 40px
		&__list
			color #fff
			font-size 20px
			line-height 1.5
@media (max-width: 1324px)
	.clock-left__headline, .clock-right__headline
		font-size 30px
@media (max-width: 960px)
	.clock-conteiner
		flex-direction column
	.clock-left
		margin-bottom 50px
	.clock-left__headline, .clock-right__headline
		text-align: center
	.clock-right__list li
		text-align center
@media (max-width: 375px)
	.clock-left__img img
		width 100%