.clock 
	background #404040
	padding: 100px 0 50px 0
	&-conteiner
		width 90%
		margin 0 auto
		display flex
		justify-content space-around
	&-left
		&__headline
			color #f75e5e
			font-size 36px
			margin-bottom 30px
		&__img
			img
				display block 
				margin 0 auto
	&-right
		&__headline
			color #f75e5e
			font-size 36px
			margin-bottom 40px
		&__list
			color #fff
			font-size 20px
			line-height 1.5
				