.description
	background #3b3b3b
	color: #fff
	&-conteiner
		width 90%
		margin 0 auto
		display flex
	&-left
		width 50%
		padding: 100px 0 50px 0
		&__headline
			font-size 30px
			font-weight: bold
			margin-bottom 30px
		&__block
			margin-bottom 30px
			display flex
			font-size: 0
			align-items flex-start
		&__img
			display flex
			align-self: top
			margin-right 20px
			img
				align-self: center;
		&__textblock
			display flex
			flex-direction column
		&__title
			font-size 24px
			font-weight: bold
			margin-bottom 10px
			width 60%
		&__text
			font-size 20px
			font-weight 400
	&-right
		width 50%
		padding: 100px 0 50px 0
		flex-wrap wrap
		img
			width 100%
@media (max-width: 1324px)
	.description-conteiner
		align-items center
@media (max-width: 1024px)
	.description-conteiner
		flex-direction column
	.description-left__headline
		text-align: center
	.description-right
		padding 50px 0
@media (max-width: 768px)
	.description-left
		width 100%
		padding 50px 0 25px 0
	.description-right
		padding 0 0 25px 0
@media (max-width: 600px)
	.description-left__title
		width 100%
		line-height: 1.2
	.description-left__img
		padding-top 10px
@media (max-width: 425px)
	.description-right
		width 80%