.description
	background #3b3b3b
	color: #fff
	&-conteiner
		width 90%
		margin 0 auto
		display flex
	&-left
		width 50%
		padding: 100px 0 50px 0
		&__headline
			font-size 30px
			font-weight: bold
			margin-bottom 30px
		&__block
			margin-bottom 30px
			display flex
			font-size: 0
			align-items flex-start
		&__img
			display flex
			align-self: top
			margin-right 20px
			img
				align-self: center;
		&__textblock
			display flex
			flex-direction column
		&__title
			font-size 24px
			font-weight: bold
			margin-bottom 10px
			width 60%
		&__text
			font-size 20px
			font-weight 400
	&-right
		width 50%
		padding: 100px 0 50px 0
		flex-wrap wrap
		img
			width 100%