.footer
	background: #131313
	padding: 50px 0
	color #fff
	&-conteiner
		width 90%
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-around
		margin: 0 auto
		flex-wrap wrap
	&-img
		background #d5d5d5
		display: inline-block
		padding 10px 20px
		border-radius 20px
	&-text
		width 40%
		text-align: center
@media (max-width: 760px)
	.footer
		padding 25px 0
	.footer-conteiner
		flex-direction column
	.footer-img
		margin 0 auto
		width 310px
		padding 0
		border-radius 40px
		img
			display block
			margin 4px auto
	.footer-text
		width 100%
		margin-top 25px
@media (max-width: 335px)
	.footer-img
		width 290px 
		img
			width 240px