.header
	background #e2e2e2
	font-family 'RobotoBold'
	&-conteiner
		display flex
		width 90%
		margin 0 auto
		flex-wrap wrap
		align-items center
	&-logo
		width 50%
		padding-top 10px
		img
			width 30%
	&-menu
		width 50%
		ul
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			flex-wrap: wrap;
			li
				padding 25px 20px
				a
					color #000
					font-size 18px
				&:hover
					background #f75e5e
					a
						color #fff