.header
	background #e2e2e2
	width 100%
	&-conteiner
		display flex
		width 90%
		margin 0 auto
		flex-wrap wrap
		align-items center
	&-logo
		width 50%
		padding-top 10px
		img
			width 30%
	&-menu
		&--burger
			display none
		width 50%
		ul
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			flex-wrap: wrap;
			li
				padding 25px 20px
				a
					color #000
					font-size 18px
				&:hover
					background #f75e5e
					a
						color #fff
@media (max-width: 900px) 
	.header-logo
		width 100%
		img
			width 250px
			margin 0 auto
			display block
	.header-menu
		width 100%
		ul
			justify-content center
@media (max-width: 500px)
	.header-menu
		&--burger
			font-family 20px
			text-transform uppercase
			color #3d3d3d
			position relative
			padding 10px 0
			cursor pointer
			overflow hidden
			width 100%
			display block
			&::before
				content '\2630'
				width 10px
				height 10px
				position absolute
				right 7px
				font-size 20px
		ul
			display none
			li
				display block
				width 100%
				text-align: center