.overley
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background rgba(0, 0, 0, 0.7)
	overflow-y hidden
	z-index 998
	display none
.modal
	width: 500px
	position fixed
	z-index 999
	background: #fff
	left: calc(50% - 250px)
	top calc(50% - 32px)
	display: none
	&-wrap
		padding 10px 20px
.is-modl
	display block
.close
	position absolute
	top -15px
	right -43px
	background: 0
	background: #f9ab5e
	padding 8px 13px
	border-radius 20px
	color #fff
	font-size: 20px
	cursor pointer
	&:hover
		background: red
@media (max-width: 600px)
	.modal
		width 98%
		margin: 0 auto
		left: 1%
	.close
		top -12px
		right -3px
	