.order
	background #404040
	padding: 100px 0 50px 0
	&-conteiner
		width 90%
		margin 0 auto
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-wrap wrap
		justify-content space-between
	&-left
		width 50%
		&__headline
			color #fff
			border-left: 3px solid #fff
			padding-left: 10px
			font-size 30px
			width 65%
			text-align: center
			span 
				color #f44e4e
	&-right
		width 50%
		&__timer
			width 80%
			overflow hidden
			border-radius 20px
		&__header
			background: #000
		&__headline
			color #fff
			text-align: center 
			padding 10px 20px
			font-size 22px
			line-height 1.5
			span 
				color #f44e4e
		&__content
			background: #fff
			padding 20px 20px 50px 20px
			position relative
			&::before
				content ''
				position absolute
				background: url(../img/order_img/bg_timer.png) center bottom
				background-size cover
				bottom 0
				width 100%
				height: 285px
				left: 0
				z-index: 1
		&__time
			color #f44e4e
			background: #000
			width 200px
			font-size 40px
			text-align center
			border 3px solid #a8a7a6
			border-radius 10px
			padding 10px 20px
			margin 50px auto 35px auto
		&__text
			position: relative
			p
				font-size 25px
				text-decoration: line-through #ce2020
				text-align center
				z-index: 10
			span
				font-size 40px
				color #ce2020
				display block 
				margin 35px auto 50px auto
				text-align center
				z-index: 10
		&__btn
			color #fff
			background #ce2020
			padding 10px 20px
			border 2px solid #ce2020
			font-size 20px
			width 200px
			margin 0 auto
			text-align center
			border-radius 10px
			cursor pointer
			z-index: 10
			position: relative
		&__btn:hover
			background rgba(255, 255, 255, 0.7);
			color #ce2020
@media (max-width: 1500px)
	.order-left
		&__img
			img
				width 80%
@media (max-width: 900px)
	.order-left, .order-right
		width 100%
	.order-left__headline
		display block
		margin 0 auto
	.order-left__img
		margin 25px 0 50px 0
		img 
			width 70%
			display block
			margin 0 auto
	.order-right__timer
		margin 0 auto
@media (max-width: 500px)
	.order-right__timer
		width 100%
@media (max-width: 320px)
	.order-left__img img 
		width 90%